
@{
    Layout = "_LayoutForUsers";

    List<List<string>>? listaRegistros = new List<List<string>>();

    listaRegistros = (List<List<string>>)ViewBag.ListaRegistros;

    if(listaRegistros is null)
    {
        listaRegistros = new List<List<string>>();
    }

    ViewBag.nombreTabla = Model.Nombre_tabla;
}

@model PlanillaCabecera

<section>

    <header>
        <h2 style="text-align:center; margin-top:10px; font-style:italic; color: #ffffff;">Tu stock</h2>
    </header>

<div class = "row">

    <div class="col-3 col-s-3 menu">
      <ul>
        <li>Descargar en formato Excel</li>
        <li>Agregar contenio de un Excel de tu equipo</li>
        <li>Compartir archivo</li>
        <li>Trasladar informacion a otra planilla</li>
      </ul>
    </div>

    @*---Combobox para las opciones de tablas----*@
    <div class="col-6 col-s-9">
      <div class="d-grid">
        <form asp-action ="LoadPage" asp-controller = "Planillas" method="post">
          <select onchange = "this.form.submit()" asp-items = "Model.LstDeNombres" name="Datos" class = "form-control">
            @if(@Model.Nombre_tabla == "")
            {
              <option>--Seleccione un valor--</option>
            }
            <option>@Model.Nombre_tabla</option>                        
          </select>
        </form>                                
      </div>
    </div>
    @***********************************@
    
    <button class ="button" data-modal="modalCreate">[+]</button>

  @*---Columna con rows y col iteradas segun cantidad de registros y cantidad de columnas---*@
    <div class="col-6 col-s-6">
      <div class = "table-responsive">
        <table class="table table-bordered" id="ItemsTable">

          <tr>
            @for(int i=0; i<Model?.Campos_Json?.Count; i++)
            {
              <th>@Model.Campos_Json[i]</th>
            }
            <th>ID</th>
            <th>--Opciones--</th>
          </tr>
            
          @foreach(var stock in listaRegistros)
          {
            <tr>
              @for(int j =0; j<stock.Count; j++)
              {
                <td>@stock[j].ToString()</td>                            
                
                if(j == stock.Count-1)
                {
                  <td>      
                     <a onclick="showInPopup('@Url.Action("EditItem","Planillas",new{id = @stock[j], header_id = @Model?.cabecera_id} ,Context.Request.Scheme)','New Transaction')" class="btn btn-success text-white"><i class="fas fa-random"></i> Modificar</a>
                    
                     <a asp-action="DeleteStock" asp-controller="Planillas"  asp-route-id= "@stock[j].ToString()" asp-route-header_id="@Model?.cabecera_id" class="btn btn-success text-white"><i class="fas fa-random"></i> Eliminar</a>
                  </td>                               
                }
              }
            </tr>
          }                                                      
        </table>
      </div>       
    </div>
  @****************************@
 </div>

  @*------Modal Create---------*@        
    <div id="modalCreate" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <span class="close">&times;</span>
          <form class ="Popup" asp-action="CreateStock" asp-controller="Planillas" asp-route-header_id="@Model?.cabecera_id"  asp-route-id = "@Model?.Id">
            <h2>Insertar en --> @Model?.Nombre_tabla</h2>
            <div>
              @if(@Model?.Campos_Json?.Count > 0)
               {
                  @for(int i=0; i<=@Model?.Campos_Json?.Count -1; i++)
                  {
                      <input asp-for="Registros_Json" type="text" placeholder="@Model?.Campos_Json[i]" />
                  }
               }                  
            </div>
            <button type="submit">Insertar</button>
          </form>
        </div>
      </div>
    </div>
  @*****************************@

  @*--script for the modal Create--*@                             
    <script>
       let modalBtns = [...document.querySelectorAll(".button")];
       modalBtns.forEach(function (btn) {
         btn.onclick = function () {
           let modal = btn.getAttribute("data-modal");
           document.getElementById(modal).style.display = "block";
         };
       });
       let closeBtns = [...document.querySelectorAll(".close")];
       closeBtns.forEach(function (btn) {
         btn.onclick = function () {
           let modal = btn.closest(".modal");
           modal.style.display = "none";
         };
       });
       window.onclick = function (event) {
         if (event.target.className === "modal") {
           event.target.style.display = "none";
         }
       };
    </script>    

  @***************************@
</section>


